<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="'/home'" routerLinkActive="router-link-active">Home
                <span class="sr-only"></span></a>
            <a class="nav-item nav-link" [routerLink]="['/aboutUs']" routerLinkActive="router-link-active">About Us</a>
            <a class="nav-item nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active">Products</a>
            <a class="nav-item nav-link" [routerLink]="['/signIn']" routerLinkActive="router-link-active">
                @if(!youLoggedInOrNot){
                <span>Sign In
                    <fa-icon [icon]="loginIcon"></fa-icon>
                </span>
                }
                @else{
                <span>Sign Out
                    <fa-icon [icon]="logoutIcon"></fa-icon>

                </span>

                }
            </a>
            <a class="nav-item nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                Sign Up
            </a>
            <a class="nav-item nav-link" [routerLink]="['/users']" routerLinkActive="router-link-active">Users</a>

        </div>
    </div>
</nav>