<!-- String Interpolation -->
<h2 #welcomeMessageColor>{{welcomeMessage}} at <span class="fst-italic text-white">{{myDate|date}}</span></h2>
<!-- property binding -->
<p [innerText]="textGreeting" [class]="'fst-italic'"></p>
<h2>hello in safaaaaaaaaaaaaaaa</h2>
<!-- <swiper [slidesPerView]="1" [spaceBetween]="10" [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
</swiper> -->

<app-order></app-order>